/* BEGIN EXTERNAL SOURCE */

        .owl-carousel {
            display: flex;
            justify-content: center;
        }

            .owl-carousel .item {
                margin: 10px;
            }

                .owl-carousel .item img {
                    width: 200px;
                    heigh
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
height: 30px; width: auto
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
footer {
position: fixed
}
/* END EXTERNAL SOURCE */
